@import 'tailwindcss';

@theme {
  --color-shade-300: #121212;
  --color-shade-600: #3b3b3b;
  --color-shade-900: #b3b3b3;
  --color-shade: #0a0a0a;

  --color-custom-purple: #9b5cff;
  --color-custom-yellow: #ffe074;
  --color-custom-blue: #5ee2ff;

  --font-inter: Inter;

  --text-3_3xl: 2rem;

  --radius-2_5xl: 1.25rem;
}

@utility container {
  margin-inline: auto;
  padding-inline: 1.25rem;
  @media (width >= theme(--breakpoint-lg)) {
    padding-inline: 3rem;
  }
}

@layer base {
  
  @font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-VariableFont_opsz\,wght.ttf");
  }

  html {
      @apply scroll-smooth;
  }

  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-track {
      background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
      background-color: #444444;
      border-radius: 999px;
      transition-duration: 150ms;
  }

  ::-webkit-scrollbar-thumb:active {
    background-color: #333333;
  }

  ::selection {
    @apply bg-shade-600 text-white;
  }

  ::-moz-selection {
    @apply bg-shade-600 text-white;
  }

}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer components {

  @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    
    100% {
        transform: rotate(360deg);
    }
  }

  #title {
    @apply animate-[load_250ms_forwards];
  }

  @keyframes load {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 100;
    }
  }

}

@utility loader {
  @apply w-12 h-12 inline-block box-border animate-[rotation_1s_linear_infinite] rounded-[50%] border-b-transparent border-[5px] border-solid border-white;
}

@utility triangle {
  @apply absolute left-0 bottom-9 w-[66px] h-[59px] bg-[url('../images/svg/triangle.svg')] bg-no-repeat;
}

@utility square {
  position: absolute;
  right: 0;
  bottom: 36px;
  width: 58px;
  height: 58px;
  background: linear-gradient(180deg, #9b5cff 0%, hsl(263, 74%, 25%) 100%);
  border-radius: 8px;
}

@utility circle {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 60px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(180deg, #5ee2ff 0%, #004757 100%);
  border-radius: 9999px;
}

@utility flex-center {
  @apply flex justify-center items-center;
}

@utility text-gradient {
  @apply font-bold bg-clip-text bg-[linear-gradient(270deg,rgb(255,224,116)_0%,rgb(80,202,228)_51.8018%,rgb(155,92,255)_100%)];
  -webkit-text-fill-color: transparent;
}

@utility text-gradient-gray {
  background-image: linear-gradient(
    180deg,
    rgb(255, 255, 255) 25%,
    rgb(239, 239, 239) 53%,
    rgb(176, 182, 191) 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@utility show {
  &#loading {
    @apply opacity-100 visible;
  }

  &#nav {
    @apply -translate-x-0;
  }

  &.language-change-button .language-box {
    @apply opacity-100 visible;
  }

  &#overlay {
    @apply opacity-100! visible!;
  }
} 

@utility active-scroll {
    @apply overflow-auto!;
}